
@font-face {
    font-family: "cinzel";
    src: url("/assets/fonts/Cinzel/static/Cinzel-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "cinzel bold";
    src: url("/assets/fonts/Cinzel/static/Cinzel-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "cinzel SemiBold";
    src: url("/assets/fonts/Cinzel/static/Cinzel-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "warnock";
    src: url("/assets/fonts/Warnock/fonnts.com-Warnock-Pro-Display-.otf") format("opentype");

}